
<%- include('../header') %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Offer Data</h3>
              </div>

            </div>

            <div class="clearfix"></div>

            <div class="row">
          

              <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                  <div class="x_title">
                
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Settings 1</a>
                            <a class="dropdown-item" href="#">Settings 2</a>
                          </div>
                      </li>
                    </ul>
                    <div class="clearfix"></div>

                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." name="search">
                        <span class="input-group-btn">
                          <input class="btn btn-secondary" type="submit" value="search" name="searching">
                        </span>
                      </div>
                    </form>

                  </div>
                  <div class="x_content">
                      <div class="row">
                          <div class="col-sm-12">
                            <div class="card-box table-responsive">
                    <table id="datatable" class="table table-striped table-bordered" style="width:100%">

                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Icon</th>
                          <th>Title</th>
                          <th>Text Area</th>
                        </tr>
                      </thead>


                      <tbody>
                        <% var i=1; for(var of of offerRecord){ %>
                          <tr>
                            <td><%= i %></td>
                            <td><img src="<%= of.Icon %>" height="100"></td>
                            <td><%= of.offerTitle %></td>
                            <td><%= of.offerMessage %></td>
                          </tr>
                        <% i++} %>

                      </tbody>
                    </table>
                  </div>
                  </div>
              </div>
            </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- /page content -->

        <%- include('../footer') %>